.sectionTitle {
    font-weight: 100;
    @media only screen and (min-width: 601px) {
        font-size: 50px;
    }
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 40px;
}

.movie {
    width: 300px;
    @media only screen and (min-width: 601px) {
        width: 450px;
    }
}

.films {
    display: block;
    @media only screen and (min-width: 601px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.number {
    font-size: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 0 #808080, -5px 0 #808080, 0 5px #808080, 0 -5px #808080,
             5px 5px #808080, -5px -5px #808080, 5px -5px #808080, -5px 5px #808080;
    color: black;
    @media only screen and (min-width: 601px) {
        font-size: 450px;
    }
}