img {
    width: 20%;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    @media only screen and (min-width: 601px) {
        font-size: 30px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option {
    @media only screen and (min-width: 601px) {
        padding: 20px;
    }
}